ul.breadcrumb
 li 
  a.breadcrum-item(href="/")
   span
    img.b-img(src="/images/home.png", alt="", srcset="") 
   span &nbsp; Home  / &nbsp;
 each item, index in list
  if index != list.length -1 
      li.breadcrum-item 
        a.breadcrum-item(href=`${item.link}`)
          span= item.name 
          span &nbsp; / &nbsp; 
  else 
      li.breadcrum-item.active 
        span= item.name 
 
