extends layouts/layout
block content
  include layouts/header
  div.container.main-content
    .row 
      .column
        include layouts/breadcrumb
    .row 
      .column
        a.link-card(href='/news-feed/timesofindia') 
          span.capitalize  timesofindia
      .column
        a.link-card(href='/news-feed/aljazeera') 
          span.capitalize aljazeera 