extends layouts/layout
block content
  include layouts/header
  include mixins/timeformat
  include mixins/tableview
  div.container.main-content
    .row 
      .column
        include layouts/breadcrumb
        .float-right
          button(onClick=`fetchRssFeed('${feedid}')`) Fetch Latest
    .row 
      .column 
        input(type="text", value=url, id="feedurl")
    .row
      .column 
        +tableview(data, feedid)