extends layouts/layout
block content
  include layouts/header
  include mixins/timeformat
  include mixins/tableview
  div.container.main-content
    .row 
      .column
        include layouts/breadcrumb
        .float-right
          a.button(href=`/stories/add/${feedid}`) Add Story
    .row
      .column 
        +tableview(data, feedid)
