extends layouts/layout
block content
  include layouts/header
  div.container.main-content
    .row 
      .column
        include layouts/breadcrumb
        .float-right
          a.button(href='stories') Back
    .row 
      .column.formsec
        form(method="post" onsubmit="return false") 
          if error_message 
            .error.column
              span.error #{error_message}
          fieldset
            label(for="heading") Heading
            input(type="text", placeholder="heading", name="heading", id="heading" required="required" autocomplete="off" value=heading)
            #errorheading.form-error
          fieldset
            label(for="slug") Slug 
            input(type="text", placeholder="slug", name="slug", id="slug" required="required" autocomplete="off" value=slug)
            #errorslug.form-error
          fieldset
            label(for="slug") Category 
            input(type="text", placeholder="category", name="category", id="category" required="required" autocomplete="off" value=category)
            #errorcategory.form-error
          fieldset
            label(for="description") Description
            .description#description
            #errordescription.form-error
          fieldset
            .column.submit-sec
              input(type="button", class="btn-secondary" value="Cancel")
              input(type="submit", value="Create", onClick ="validateForm()")
  script(type="text/javascript").
    var editor = new MediumEditor('.description', {
      placeholder:{
        text: 'Add you story here'
      },
      toolbar: {
          allowMultiParagraphSelection: true,
          buttons: [],
          diffLeft: 5,
          diffTop: -10,
          firstButtonClass: 'medium-editor-button-first',
          lastButtonClass: 'medium-editor-button-last',
          relativeContainer: null,
          standardizeSelectionStart: false,
          static: false,
          align: 'center',
          sticky: true,
          updateOnEmptySelection: false
      }
    });
    function validateForm(){
      const heading = document.getElementById('heading').value;
      const slug = document.getElementById('slug').value;
      const category = document.getElementById('category').value;
      const description = document.getElementById('description').innerHTML;
      let data = {heading, slug, category, description};
      fetch('/stories/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(data)
      }).then(response => response.json())
      .then(result => {
        if(result.status == 'success'){
          location.replace('/stories')
        } else {
          alert(JSON.stringify(result, null, 2));
        }
      })
      .catch((err)=>{
        alert(JSON.stringify(err, null, 2));
      });
    }