extends layouts/layout
block content
  div.container
    .row 
      .column
        h2.header Welcome to #{title}, #{data}
    .row 
      .column 
        .flex.justify-center
         <a href=#{data}> Download audio </a>